// _configuration.scss
$website-width:1200px;
$primary-color:crimson;
$secondary-color:rgb(14, 218, 218);
$green-color:rgb(11, 241, 22);
$yellow-color:#FFD700;
$light-color:#f4f4f4;
$medium-color:#ccc;
$dark-color:#333;
$grey-dark-color: rgba(110, 105, 105, 0.315);
$bg-img:url('../img/showcase2.jpg');